<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
      <small>Copyright &copy Events platform 2018</small>
      <ul class="footer-ul">
          <li><%= link_to "home", root_path %></li>
          <li> <%= link_to "sign up", home_ruby_meetup_path %> </li>
          
         
      </ul>

  </div>
</nav>