<div class="jumbotron">
  <h1 id="center">Sign up now to join or create events!</h1> 
  <p>...</p>
  <div class="center-button"><%=  link_to "sign up",  new_user_registration_path, class:"btn btn-primary btn-lg " %> </div>

</div>