<div class="jumbotron " id="jumbotron-main">
  <h1 id="center">Sign up now to join or create events!</h1> 
  <div class="center-button"><%=  link_to "sign up",  new_user_registration_path, class:"btn btn-primary btn-lg " %> </div>
</div>

<div class="jumbotron">
 <h1 id="ruby-h1">Ruby meetup</h1>
 <h3 id="ruby-h3">Interested in joining our ruby meetup? <br> Sign up using the button below!</h2>
 <%= link_to "sign up", home_ruby_meetup_url, class:"btn btn-danger btn-lg " %> 
 <div class="ruby-picture"><%= image_tag("rails.png", :alt => "rails feed,") %> </div>
</div>
