@import "bootstrap-sprockets";
@import "bootstrap";

$button-color: #4a90e2;


a:hover {
    text-decoration:none !important;
    

}


#center {
     color: black;
     text-align: center;
     font-size: 40px;
     color: white;
     font-weight: bold;
     margin-bottom: 30px;
     text-shadow : 2px 10px 10px black;

}

.center-button{
    text-align: center;
 
}

#jumbotron-main {
    Background-size: cover;
    background-image: asset-url('people.jpg');
    margin-top: -50px;
    margin-bottom: 30px;
}

.btn:hover, .btn:focus, .btn.focus {
    background-color: #4a90e2;
}




.btn-lg{
    font-size: 22px;
    background-color: #4a90e2;
    color: white;
    border:none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    
}

.btn-lg:visited{
    font-size: 22px;
    background-color: #4a90e2;
    color: white;
    
}

.navbar-fixed-bottom {
    color: white;
   
}

.footer-ul {
    float: right;
 
}

.jumbotron{
    margin-bottom: 70px;
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.29);
}



.ruby-picture{
    float: right;
    margin-top: -120px;
}

#create-event {
    text-align: center;
    font-size: 40px;
    border-bottom: solid;
    border-width: 2px;
}

.list-group{
    float: left;
    p{
        font-size: 20px;
        }
    border-bottom: dotted;
}

.map{
    float: right;
    margin-top: -25%;
}

.rsvp{
    margin-top: 25px;
}

.loginLogout {
    
    color:white;
    
}

.navbar-brand {
    color:white;
}

#ruby-h1 {
    font-size:34px;
}


.navbar-brand{
    color:black !important;
}

.navbar-inverse {
        background-color: transparent !important;
        border: none !important;
}

.navbar-fixed-bottom {
    color:black !important;
}

.sharedLinks {
    background-color:transparent !important;
}